<a href="https://colab.research.google.com/github/LanzAndreiCatamisan/OOP-1-1/blob/main/OOP_Concepts_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Classes with Multiple Objects

In [ ]:
class Birds:
  def __init__(self,birds_name):
    self.birds_name = birds_name
  def flying_birds(self):
    print(f"{self.birds_name} flies above the sky")
  def non_flying_birds(self):
    print(f"{self.birds_name} is the national bird of Australia")

vulture = Birds("Griffon Vulture")
crane = Birds("Common Crane")
emu = Birds("Emu")

vulture.flying_birds()
crane.flying_birds()
emu.non_flying_birds()

Griffon Vulture flies above the sky
Common Crane flies above the sky
Emu is the national bird of Australia

Encapsulation (mangling with double underscore)

In [ ]:
class foo:
  def __init__(self,a,b):
    self.__a = a
    self.__b = b
  def add(self):
    return self.__a+self.__b

object_foo = foo(3,4)
object_foo.add()

object_foo.__a = 6
object_foo.__b = 7
object_foo.add()

7

In [ ]:
class Counter:
  def __init__(self):
    self.__current = 0
  def increment(self):
    self.__current +=1
  def value(self):
    return self.__current
  def reset(self):
    self.__current = 0

number = Counter()
number.__current = 1

number.increment()
number.increment()
number.increment()

number.value()

3

Inheritance

In [ ]:
class Person:
  def __init__(self,firstname,surname):
    self.firstname = firstname
    self.surname = surname
  def fullname(self):
    print(self.firstname,self.surname)

person = Person("Mam","Sayo")
person.fullname()

class Teacher(Person):
  pass

person2 = Teacher("Maam","Maria")
person2.fullname()

class Student(Person):
  pass

person3 = Student("Lanz","Catamisan")
person3.fullname()

Mam Sayo
Maam Maria
Lanz Catamisan

Polymorphism

In [ ]:
class RegularPolygon:
  def __init__(self,side):
    self.side = side
class Square(RegularPolygon):
  def area(self):
    return self.side*self.side
class EquilateralTriangle(RegularPolygon):
  def area(self):
    return self.side*self.side*0.433

obj1 = Square(4)
print(obj1.area())

obj2 = EquilateralTriangle(3)
print(obj2.area())

16
3.897

**Application 1**
1.   Create a Python program that display the name of the three students (Student 1,Student 2, and Student 3) and their term grades 
2.   Create a class name Person and attributes - std1, std2, std2,pre,mid,fin
3.   Compute the average of each term grade using Grade() method
4.   Information about student's grades must be hidden from others

In [4]:
class Person:
  def __init__(self,name,std1,std2,std3,pre,mid,fin):
    self.__name = name
    self.__std1 = std1
    self.__std2 = std2
    self.__std3 = std3
    self.__pre = pre
    self.__mid = mid
    self.__fin = fin
  def Grade(self):
    total = self.__std1+self.__std2+self.__std3+self.__pre+self.__mid+self.__fin
    average = total/6
    print(self.__name)
    print("Term Grade:", average)
    
Student1 = Person("Student 1",87,65,87,98,91,74)
Student2 = Person("Student 2",89,85,79,93,94,86)
Student3 = Person("Student 3",78,79,90,89,84,88)

Student1.Grade()
Student2.Grade()
Student3.Grade()

Student 1
Term Grade: 83.66666666666667
Student 2
Term Grade: 87.66666666666667
Student 3
Term Grade: 84.66666666666667